<div class="select select-icon-picker">
  <select id="select-icon-picker-{{ id }}">
    <option value="fas fa-times" selected>None</option>
    <option value="fa-gift">Gift</option>
    <option value="fa-star">Star</option>
    <option value="fa-rocket">Rocket</option>
    <option value="fa-circle-exclamation">Exclamation</option>
  </select>
  <input type="hidden" class="select-hidden-input" id="select-hidden-input-{{ id }}" name="icon" value="">
</div>
{% comment %} <a class="button is-static"><i id="icon-display" class="fas fa-times"></i></a> {% endcomment %}
