{% extends "customers/components/base_dashboard_view.html" %}
{% load static %}

{% block title %}FeedbackHero - dashboard{% endblock %}
{% block content %}
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <div class="title">Dashboard</div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <button type="button" class="button is-small">
        March 8, 2017 - April 6, 2017
      </button>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
