{% block footer %}
<footer class="footer">
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-5">
          <div class="block">
            <a>
              <h1 class="title is-4 has-text-link">{{ board.name }}</h1>
              <h2 class="subtitle is-5">{{ board.footer.footer_text}}</h2>
            </a>
          </div>
          {% if board.footer.footer_extra %}
          <div class="block">
            <p>{{ board.footer.footer_extra }}</p>
          </div>
          {% endif %}
          <div class="block">
            <a class="has-text-black">
              <span class="icon">
                <i class="fa-solid fa-star"></i>
              </span>
              launched by <span class="has-text-link has-text-weight-semibold">drunkensnakes</span>
            </a>
          </div>
        </div>
        <div class="column is-offset-1 is-3">
        </div>
        <div class="column is-3">
          <aside class="is-medium menu">
            <p class="menu-label">Contact with {{ board.name }}!</p>
            <ul class="menu-list">
             {% if board.footer.contacts.website %}
              <li>
                <a href="{{ board.footer.contacts.website }}">
                  <span class="icon">
                    <i class="fa-solid fa-globe"></i>
                  </span>
                  <span>Website</span>
                </a>
              </li>
              {% endif %}
              {% if board.footer.contacts.discord %}
              <li>
                <a href="{{ board.footer.contacts.discord }}">
                  <span class="icon">
                    <i class="fa-brands fa-discord"></i>
                  </span>
                  <span>Discord</span>
                </a>
              </li>
              {% endif %}
              {% if board.footer.contacts.twitter %}
              <li>
                <a href="{{ board.footer.contacts.twitter }}">
                  <span class="icon">
                    <i class="fa-brands fa-twitter"></i>
                  </span>
                  <span>Twitter</span>
                </a>
              </li>
              {% endif %}
              {% if board.footer.contacts.instagram %}
              <li>
                <a>
                  <span class="icon">
                    <i class="fa-brands fa-instagram"></i>
                  </span>
                  <span>Instagram</span>
                </a>
              </li>
              {% endif %}
              {% if board.footer.contacts.email %}
              <li>
                <a href="{{ board.footer.contacts.email }}">
                  <span class="icon">
                    <i class="fa-envelope"></i>
                  </span>
                  <span>Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </aside>
        </div>
      </div>
    </div>
  </section>
</footer>
{% endblock %}
