{% autoescape off %}
Hello {{ user.first_name }},
We hope this message finds you well.

We're thrilled to welcome you to FeedbackHero!

To complete the registration process and activate your account, please click on the link below:

{{ confirm_url }}

Once activated, you'll gain access to all the features and benefits our platform offers.

If you have any questions or need assistance, feel free to reach out to our support team.

Thank you for choosing FeedbackHero.

Sincerely,
The FeedbackHero Team
{% endautoescape %}
