{% autoescape off %}
Dear {{ user.first_name }},

We are thrilled to welcome you to FeedbackHero, your trusted platform for gathering valuable feedback and insights. This email is to confirm the successful creation of your account.

Your account details are as follows:

Email Address: {{ user.email }}

FeedbackHero offers you a comprehensive suite of tools to streamline your feedback collection process and empower your decision-making. Whether you're seeking customer feedback, conducting employee surveys, or gathering insights from your target audience, our platform is designed to cater to your needs effectively.
As a new member of our community, you now have access to a range of features and resources to maximize the impact of your feedback initiatives. We encourage you to explore our platform, customize your surveys, and begin collecting actionable feedback that drives meaningful change within your organization.
Should you have any questions, encounter any difficulties, or require assistance at any point, our dedicated support team is here to help.
Thank you for choosing FeedbackHero. We look forward to supporting you on your journey toward success in gathering and leveraging feedback effectively.

Sincerely,
The FeedbackHero Team
{% endautoescape %}
