<div class="box">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        {% if not comments %}
          <h3 class="title is-3">There is no comments.</h3>
        {% else %}
          <h3 class="title is-3">All comments.</h3>
        {% endif %}
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button class="button is-primary is-block is-alt is-large js-modal-trigger" data-target="modal-comments-form">New Comment</buton>
        </div>
    </div>
  </nav>
  {% if comments %}
    {% for comment in comments %}
      <article class="message">
        <div class="message-header">
          <p>@JohnSmith</p>
          {{ comment.created_at }}
        </div>
        <div class="message-body" >
          {{ comment.body }}
        </div>
      </article>
    {% endfor %}
  {% endif %}
</div>
